<!--The content below is only a placeholder and can be replaced.-->

<div fxLayout="column">
	<mat-toolbar color="primary">
		<mat-toolbar-row fxLayout="row">
		<span>Bus Stop Enhancement Project</span>
			<span fxFlex></span>
			<mat-icon svgIcon="account"></mat-icon>
		</mat-toolbar-row>
	</mat-toolbar>
	<div fxFlex fxLayout="row" fxLayoutAlign="center start">
		<div class="router-container">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

