<mat-horizontal-stepper [linear]="isLinear" #stepper>
	<ng-template matStepperIcon="edit">
		<mat-icon svgIcon="pencil"></mat-icon>
	</ng-template>
	<ng-template matStepperIcon="done">
		<mat-icon svgIcon="check"></mat-icon>
	</ng-template>

	<!-- Step 1 Select the bus stop -->
	<mat-step [completed]="selectedBusStop">

		<ng-template matStepLabel>Select the bus stop</ng-template>
		<div class="mat-title">Please select the bus stop you wish to donate for.</div>
		<agm-map *ngIf="markers.length" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
				(mapClick)="mapClicked($event)">

			<agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m)" [latitude]="m.lat"
				[longitude]="m.lng" [title]="m.name" [markerDraggable]="m.draggable">
				<agm-info-window>
				<strong>{{m.name}}</strong>
				</agm-info-window>
			</agm-marker>

			<agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true"
				[editable]="true">
			</agm-circle>

		</agm-map>

		<div class="stepper-controls" fxLayout="row">
		<div fxFlex>
			<div class="mat-h4" *ngIf="!selectedBusStop">No bus stop is selected</div>
			<div *ngIf="selectedBusStop" fxLayout="column">
				<div class="mat-body" fxLayout="row" fxLayoutAlign="start center">
					<mat-icon svgIcon="bus"></mat-icon> &nbsp;<strong>{{selectedBusStop.name}}</strong>
				</div>
				<div class="mat-body" fxLayout="row" fxLayoutAlign="start center">
					<mat-icon svgIcon="coin"></mat-icon> &nbsp;Fund Raised: $ {{selectedBusStop.donationsRaisedInDollars}}
				</div>
			</div>
		</div>
		<div>
			<button mat-button mat-raised-button color="accent" matStepperNext (click)="checkBusStop()"> Next
			<mat-icon svgIcon="arrow-right"></mat-icon>
			</button>
		</div>
		</div>

	</mat-step>

	<!-- Step 2 Select the bus stop -->
	<mat-step [stepControl]="donationDetailsFormGroup">
	<form [formGroup]="donationDetailsFormGroup">
		<ng-template matStepLabel>Donation Details</ng-template>
		<div class="mat-title">Please enter the required information</div>
		<div fxLayout="row" class="line" fxLayoutAlign="center start" *ngIf="donationDetailsFormGroup">
			<mat-form-field fxFlex="60">
			<input matInput placeholder="Amount" type='text' formControlName="amount" required>
			<span matSuffix>$</span>
				<mat-error *ngIf="donationDetailsFormGroup.controls.amount.hasError('required')">Amount is mandetory. </mat-error>
				<mat-error *ngIf="donationDetailsFormGroup.controls.amount.hasError('pattern')">Invalid Amount.
				</mat-error>
			</mat-form-field>
		</div>
		<div fxLayout="row" class="line" fxLayoutAlign="center start">
			<mat-form-field fxFlex="60">
			<input matInput placeholder="Name" type='text' formControlName="name" required>
				<mat-error *ngIf="donationDetailsFormGroup.controls.name.hasError('required')">Name is mandetory.
			</mat-error>
			</mat-form-field>
		</div>
		<div fxLayout="row" class="line" fxLayoutAlign="center start">
			<mat-form-field fxFlex="60">
			<input matInput placeholder="Email" formControlName="email" type="email">
				<mat-error *ngIf="donationDetailsFormGroup.controls.email.hasError('email')">Invalid
				Email Address.
			</mat-error>
			</mat-form-field>
		</div>
		<div fxLayout="row" class="line" fxLayoutAlign="center start">
			<mat-form-field fxFlex="60">
			<textarea matInput placeholder="Message" #msg formControlName="message" type="text"></textarea>
			<mat-hint align="end">{{msg.value.length}} / 100</mat-hint>
			<mat-error *ngIf="donationDetailsFormGroup.controls.message.hasError('maxlength')">
				Max Length Exceeded.
			</mat-error>
			</mat-form-field>
		</div>
		<div class="stepper-controls" fxLayout="row">
			<div fxFlex></div>
			<div>
			<button mat-button matStepperPrevious mat-raised-button color="default">
				<mat-icon svgIcon="arrow-left"></mat-icon> Back
			</button> &nbsp;
			<button mat-button matStepperNext mat-raised-button color="accent" (click)="setDonationDetails()">Next
				<mat-icon svgIcon="arrow-right"></mat-icon>
			</button>
			</div>
		</div>
		</form>
	</mat-step>

	<!-- Confirm tab -->
	<mat-step>
		<ng-template matStepLabel>Confirm</ng-template>
			<div class="mat-title">Please Confirm the details to proceed with payment gateway.</div>
				<div *ngIf="selectedBusStop && donationDetails">
				<div fxLayout="row" class="line" fxLayout="column">
					<div class='mat-body'><strong>Bus Stop</strong></div>
					<div class='mat-body'>{{selectedBusStop.name}}</div>
				</div>
				<div fxLayout="row" class="line" fxLayout="column" >
					<div class='mat-body'><strong>Name</strong></div>
					<div class='mat-body'>{{donationDetails.name}}</div>
				</div>
				<div fxLayout="row" class="line" fxLayout="column" *ngIf="donationDetails.email">
					<div class='mat-body'><strong>Email</strong></div>
					<div class='mat-body'>{{donationDetails.email}}</div>
				</div>
				<div fxLayout="row" class="line" fxLayout="column">
					<div class='mat-body'><strong>Amount</strong></div>
					<div class='mat-body'>${{donationDetails.amount}}</div>
				</div>
			</div>
			<div class="stepper-controls" fxLayout="row">
			<div fxFlex></div>
			<div>
				<button mat-button matStepperPrevious mat-raised-button color="default">
				<mat-icon svgIcon="arrow-left"></mat-icon> Back
				</button> &nbsp;
				<button mat-button matStepperNext mat-raised-button color="accent" (click)="addDonation()">Confirm <mat-icon svgIcon="check"></mat-icon></button>
			</div>
			</div>
	</mat-step>
</mat-horizontal-stepper>
