/* You can add global styles to this file, and also import other style files */
html, body{
	margin: 0;
	padding: 0;
	max-height: 100%;
	height: 100%;
}

.router-container{
	max-width: 900px;
	width: 900px;
	margin-top: 40px;
}

.stepper-controls{
	padding-top: 40px;
}

.line{
	margin-bottom: 10px;
}